/********************************************
    GENERAL STYLES
********************************************/


/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {
    
}

/* Generics */


/********************************************
    UTILITIES
********************************************/

.debug {
    border: 2px dotted red;
}

/********************************************
    LAYOUT
********************************************/

#hero {
    position: relative;
}

#carousel {
    height: 500px;
    width: 100%;
    margin: 30px auto;
}

#carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

#carousel img.active {
    display: block;
}

/* thumbnails */

#thumbnails {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
}

#thumbnails .thumbnails-img img {
    height: 100px;
    width: 250px;
    object-fit: cover;
    right: 0;
}
#thumbnails .img-01 {
    top: 0; 
}
#thumbnails .img-02 {
    top: 100px;
}
#thumbnails .img-03 {
    top: 200px;
}
#thumbnails .img-04 {
    top: 300px;
}
#thumbnails .img-05 {
    top: 400px;
}

/* overlayer thumbnails */
.square {
    height: 100px;
    width: 250px;
    cursor: pointer;
    position: absolute;
    right: 0;
    background-color: black;
    opacity: 0.5;
}

.square:hover {
    opacity: 0;
}

.square .square-01 {
    top: 0;

}
.square .square-02 {
    top: 100;
}
.square .square-03 {
    top: 200;
}
.square .square-04 {
    top: 300;
}
.square .square-05 {
    top: 400;
}

/* controlli */
.fa-solid {
 font-size: 30px;
 color: white;
 opacity: 0.7;
 cursor: pointer;
 z-index: 2;
}

.fa-solid:hover {
    opacity: 1;
}

.fa-circle-arrow-up {
    position: absolute;
    top: 30px;
    right: 125px;
    transform: translate(50%, -50%);

}

.fa-circle-arrow-down {
    position: absolute;
    bottom: 0;
    right: 125px;
    transform: translate(50%, -50%);
}



